{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/splash.jpg" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>I want to go to sleep.</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Valov
          </div>
          <div class="col-sm-4 text-pad">
            fakemail@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
             United States
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a student that has been coding and designing since 6th grade</p>
        <p>Creating useless projects for my own enjoyment.</p>
        <p>Intrigued by graphic design, photography, coding, marine biology, and always learning more.</p>
        <p>Check out what I've done.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Cross Country team
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2019 - June 2023
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I spent all four years of highschool as a part of the school cross country team </p>
              <p>In Cross country we</p>
              <ul>
                <li class="main-li">Participated in over a dozen meets in a season</li>
                <li class="sub-li">Participated in multiple national meets</li>
                <li class="sub-li">Routinely placed among the fastest teams participating</li>
                <li class="main-li">I have some of the best stamina of my grade</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Graphic design
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2019 - present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I have been practicing graphic design by thinking up theoretical rebrandings of companies like blizzard or barnes and noble</p>
              <p>My quick thought process was</p>
              <ul>
                <li class="main-li">Is there anything wrong with the current branding</li>
                <li class="sub-li">If yes how do I fix it?</li>
                <li class="sub-li">If no choose another brand</li>
                <li class="main-li">What would ads with the new branding look like and what would it accomplish?</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Projects
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Project 1 - This website
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Feb 2022 - Apr 20, 2022
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I spent several weeks with a team to help each other make our own websites</p>
              <p>Here are some features</p>
              <ul>
                <li class="main-li">Includes a chat function</li>
                <li class="sub-li">Includes chat rooms</li>
                <li class="sub-li">Includes room codes for more private discussions</li>
                <li class="main-li">Includes a small resume</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Project 2 - Wood covid info toy
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Nov 2021 - Jan 2022
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I made a wooden toy with a system that reveals multiple paragraphs of covid information depending on where a gear is turned</p>
              <p>I tried to come up with an interesting way to inform younger children about what they should be doing to prevent infection</p>
              <ul>
                <li class="main-li">Two neat parts of the design process</li>
                <li class="sub-li">The main issue when making was trying to make sure that the gear system wouldn't break with rougher handling</li>
                <li class="sub-li">Catching kids attention with laser engraved pictures like a kid in a mask and handwashing</li>
                <li class="main-li">Unfortunately I forgot to consider the fact that is was handheld and pretty much unusable without constant disinfection</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 3 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Project 3 - 3d animation in blender
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              jan 2022 - present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I have been trying to learn 3d modelling in blender to work towards creating a full animation</p>
              <p>Currently, I am still learning how to properly create scenes</p>
              <ul>
                <li class="main-li">The first scene has is currently only partially modelled</li>
                <li class="sub-li">I have been trying to get natural posing down</li>
                <li class="sub-li">I have not started to animate it yet</li>
                <li class="main-li">The hardest part is deciding on what I actually want the animation to be about</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards / Honors / Certifications
      </div>
    </div>

    <div class="row">
      <div class="col"> -->

        <!-- Project 1 -->
        <!-- <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              Award 1
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              From this org
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Certification
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              What this certification is about
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Honor
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Here's what I did
            </div>
          </div>

        </div>


      </div>
    </div> -->
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/interest-1.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Roadtrips</h3>
            <p class="content-text">I like to get out of the house every once and a while</p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/interest-1.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/interest-2.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Gaming</h3>
            <p class="content-text"> My favorite passtime when i don't have any work to do</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/interest-3.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Basketball</h3>
            <p class="content-text">My favorite sport to play</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">fakemail@gmail.com</span>
        </div>
        <!-- <div>
          <a href="https://www.linkedin.com/">
            <img src="/static/img/contact-icons/linkedin.png">
            <span class="contact-info">linkedin.com/myprofile</span>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/">
            <img src="/static/img/contact-icons/insta.jpg">
            <span class="contact-info">@notarealhandle</span>
          </a>
        </div> -->
        <div>
          <a href="https://github.com/">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/notarealprofile</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
